.idea/.generators
.idea/.name
.idea/.rakeTasks
.idea/BoardMaker.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
log/development.log